<style>
.bodytxt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000}
.bodybold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #000000}
.addressheader {  font-family: Verdana; font-size: 13px; font-weight: normal; color: #000000}
.bigheading {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold; color: #000000}
.heading {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000}
.bodymsg {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #FF0000}
.forms {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}
.formsdis {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #808080}
.formsbold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color:red; font-weight:bold}
.formsRO1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFDB99}
.formsRO2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFE9BB}
.heading2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}
.bgheading2 { background-color: #336699 }
.bgmain { background-color: #FFCC66}

.bodyboldmsg {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #FF0000}
.bodytxt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000}
.darklink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #333399}
.bodytxt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}
.bgbody1 { background-color: #FFDB99}
.bgbody2 {  background-color: #FFE9BB}
.lightlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF}
.lightlinksm { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #FFFFFF }
.bodyboldlight { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF}
.news {  font-family: "Times New Roman", Times, serif; font-size: 11px; color: #000000; text-decoration: none}
.newshead {  font-family: "Times New Roman", Times, serif; font-size: 14px; font-weight: bold; color: #000000}
.brightbold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FF6600}
.bgmarket { background-color: #FF6600; color: #FFFFCC ; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.bgexecut { background-color: #336699; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.bgknowledge { background-color: #FFCC66; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.bgwhitebodytxt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
.yellowbold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFDD97}
.bodytxtsm { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000 }
.bodyboldsm { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000 ; font-weight: bold}
.darklinksm { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #333399 }
a:link {  text-decoration: none}
a:visited {  text-decoration: none}
a:hover {  text-decoration: underline}
.bg3 {  background-color: #DAE4EF}
.bg4 { background-color: #F0E1C1}
.hilited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #990000}
.privbodybold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000}
.privhilited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #990000}
.bodyboldbig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.bodytxtbig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 }
.darklinkbig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #333399 }
.bodyboldbiglt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CCCCCC}
.brightheading { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FF6600 }
.bodyclr {  background-color: #FFFFFF}
.bodygrlt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF}
.mandate { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color:red}



.sortlink:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}
.sortlink:visited{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}
.sortlink:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}
.sortlink:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}

.trans {background-color:transparent;border-style:none;text-align:center;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}

</style>